<div class="card" style="width: 30rem;">
    <div class="card-header">
        Los promedios actuales son:
    </div>
    <ul class="list-group list-group-flush">
        <li class="card text-white bg-danger mb-1"><i class="bi bi-emoji-frown-fill">Cálculo promedio ponderado:3.9</i></li>
        <li class="card text-white bg-warning mb-1"><i class="bi bi-emoji-frown-fill">Física promedio ponderado: 5.0</i></li>
        <li class="card bg-light mb-1"><i class="bi bi-emoji-laughing">Antropología promedio ponderado: 7.0</i></li>
    </ul>
</div>