<div class="overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <h2>Crear cursos</h2>
            <div class="p-3 border bg-light">
                <div class="form-group">
                    <label id="textoDescrip">Escriba el nombre del ramo</label>
                    <input class="Alumno" />
                </div>
                <br/>
                <div class="form-inline">
                    <label class="Place">Nota 1: </label>
                    <input class="entradaCali" class="form-inline " space id="nota1" />
                    <label class="Place2">Porcentaje 1: </label>
                    <input class="entradaCali2" class="form-inline " id="porcentaje1" />
                </div>
                <div class="form-inline">
                    <label class="Place">Nota 2: </label>
                    <input class="entradaCali" class="form-inline " id="nota2 " />
                    <label class="Place2">Porcentaje 2: </label>
                    <input class="entradaCali2" class="form-inline " id="porcentaje2" />
                </div>
                <div class="form-inline">
                    <label class="Place">Nota 3: </label>
                    <input class="entradaCali" class="form-inline " id="nota3 " />
                    <label class="Place2">Porcentaje 3: </label>
                    <input class="entradaCali2" class="form-inline " id="porcentaje3" />
                </div>
                <div class="form-inline">
                    <label class="Place">Nota 4: </label>
                    <input class="entradaCali" class="form-inline " id="nota4 " />
                    <label class="Place2">Porcentaje 4</label>
                    <input class="entradaCali2" class="form-inline " id="porcentaje4" />
                </div>
                <div class="form-inline">
                    <label class="Place">Nota 5: </label>
                    <input class="entradaCali" class="form-inle " id="nota5 " />
                    <label class="Place2">Porcentaje 5: </label>
                    <input class="entradaCali2" class="form-inline " id="porcentaje5" />
                </div>
                <button type="submit" class="btn btn-default">Crear</button>
                <button type="reset" class="btn btn-default pull-right">Cancel</button>
            </div>
        </div>
    </div>
</div>